/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 * modified by Lu:  added counting gtf for HTSeq, added HTSeq on 8/2017
 */

process {
  // Remember to configure `executor` in your personal config file
  // otherwise, Nextflow defaults to 'local' and runs on the head node
  cpus = 64
  memory = 8.GB
  time = 2.h

  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

  // Environment modules and resource requirements
  $makeSTARindex {
      module = ['STAR/2.5.3a-foss-2016b']
      cpus = 10
      memory = 60.GB
      time = 5.h
  }
  $makeHisatSplicesites {
      module = ['HISAT2/2.1.0']
    cpus = 10
    memory = 60.GB
    time = 5.h  
  } 
  $makeHISATindex {
    module = ['HISAT2/2.1.0']
    cpus = 10
    memory = 60.GB
    time = 5.h
  }
  $fastqc {
    module = ['FastQC/0.11.5-Java-1.7.0_80']
    memory = 4.GB
    time = 8.h
  }
  $trim_galore{
    module = ['FastQC/0.11.5-Java-1.7.0_80', 'Trim_Galore/0.4.4-foss-2016b']
    memory = 10.GB
    time = 8.h
  }
  $star {
    module = ['STAR/2.5.3a-foss-2016b']
    cpus = 10
    memory = 60.GB
    time = 8.h
  }
  $hisat2Align {
    module = ['HISAT2/2.1.0', 'SAMtools/1.4-foss-2016b']
    cpus = 8
    memory = 60.GB
    time = 8.h
  }
  $hisat2_sortOutput {
    module = ['SAMtools/1.4-foss-2016b']
    cpus = 4
    memory = 32.GB
    time = 8.h
  }
  $rseqc {
    module = ['RSeQC/2.6.4-foss-2016a-Python-2.7.12-R-3.2.3', 'SAMtools/1.4-foss-2016b']
    cpus = 10
    memory = 60.GB
    time = 12.h
  }
    $preseq {
    module = ['preseq/2.0']
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
    $markDuplicates {
    module = ['picard/2.2.4-Java-1.8.0_92']
    cpus = { 2 * task.attempt }
    memory = { 16.GB * task.attempt }
  }
    $HTSeqCounts {
    module = ['HTSeq/0.6.1p1-foss-2016b-Python-2.7.12']
    memory = 40.GB
  }
    $merge_featureCounts {
    module = ['Python/2.7.12-foss-2016b']
    memory = 2.GB
  }
    $stringtieFPKM {
    module = ['StringTie/1.3.3b-foss-2016b']
    memory = 10.GB
  }
    $dupradar {
    module = ['R/3.2.3-foss-2016a']
    memory = 4.GB
  }
    $sample_correlation {
    module = ['R/3.2.3-foss-2016a']
    memory = 16.GB
  }
    $multiqc {
    module = ['Python', 'MultiQC/1.1-foss-2016b-Python-2.7.12']
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
}
params {
  clusterOptions = false
  rlocation = "$HOME/R/x86_64-redhat-linux-gnu-library/3.2"
  saveReference = true
  reverse_stranded = true
  saveAlignedIntermediates = true
  // illumina iGenomes reference file paths on UPPMAX
  genomes {
    'GRCh37' {
      bed12   = '/net/isi-dcnl/ifs/user_data/Seq/Lu/ref/iGenomes/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.bed'
      fasta   = '/net/isi-dcnl/ifs/user_data/Seq/Lu/ref/iGenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/net/isi-dcnl/ifs/user_data/Seq/Lu/ref/iGenomes/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.gtf'
	  count_gtf     = '/net/isi-dcnl/ifs/user_data/Seq/Lu/ref/Homo_sapiens.GRCh37.87.protein_coding.and.lncRNA.gtf'
      star    = '/net/isi-dcnl/ifs/user_data/Seq/Lu/ref/iGenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/STARIndex/'
      hisat2  = '/net/isi-dcnl/ifs/user_data/Seq/Lu/ref/iGenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/HISAT2Index/'
    }
    'GRCh37-hisat2' {
      bed12   = '/net/isi-dcnl/ifs/user_data/Seq/Lu/ref/iGenomes/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.bed'
      fasta   = '/net/isi-dcnl/ifs/user_data/Seq/Lu/ref/iGenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/net/isi-dcnl/ifs/user_data/Seq/Lu/ref/iGenomes/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.gtf'
	  count_gtf     = '/net/isi-dcnl/ifs/user_data/Seq/Lu/ref/Homo_sapiens.GRCh37.87.protein_coding.and.lncRNA.gtf'
      hisat2  = '/net/isi-dcnl/ifs/user_data/Seq/Lu/ref/iGenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/HISAT2Index/'
    }
    'GRCm38' {
      //bed12   = '/net/isi-dcnl/ifs/user_data/kmorris/Group/ref/igenomes/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.bed'
      fasta   = '/net/isi-dcnl/ifs/user_data/Seq/Lu/ref/iGenomes/Mus_musculus/Ensembl/GRCm38/Sequence/WholeGenomeFasta/genome.fa'
      gtf     = '/net/isi-dcnl/ifs/user_data/Seq/Lu/ref/iGenomes/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.gtf'
      star    = '/net/isi-dcnl/ifs/user_data/Seq/Lu/ref/iGenomes/Mus_musculus/Ensembl/GRCm38/Sequence/STARIndex/'
      hisat2  = '/net/isi-dcnl/ifs/user_data/Seq/Lu/ref/iGenomes/Mus_musculus/Ensembl/GRCm38/Sequence/HISAT2Index/'
    }
    }
 }
